* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Calculator {
    padding-top: 100px;
    .center {
        width: 60%;
        margin: 0 auto;
        border: 2px solid #dddddd;
        border-radius: 10px;
        padding: 40px;
        @mixin button($bg-color) {
            padding: 10px 50px;
            background-color: $bg-color;
            color: #ffffff;
            border: none;
            border-radius: 10px;
        }
        h2 {
            margin-bottom: 40px;
        }
        .calc {
            .inp {
                margin-bottom: 25px;
                input {
                    width: 150px;
                }
            }
            button {
                @include button(#7766ff);
            }
        }
        .result {
            p {
                font-size: 40px;
                margin-bottom: 5px;
            }
            span {
                font-size: 20px;
            }
            .monthly-box {
                margin-bottom: 23px;
            }
            .total-box {
                margin-bottom: 28px;
            }
            #Order {
                @include button(#3e68ff);
                display: none;
            }
        }
    }
}